<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HDEController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ImageSet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Step.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Trilateration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>accessPoint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>mapTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>particle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>particlePosition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>sensorData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>wallElement.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02142CCC2E724DB2A11402A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>045905BCDB684D9BB640C647</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046C37857CF44CF0ADE8E9A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06162454F7D54BB4A906FD6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09179F232CE34432AE2D755A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10289C2FE0C7470694E23521</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185CC9FFAAEA42CF9E2AC483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>192DD946F9D745878E5E327F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AF9785F716840BE91C7BC79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34C8C07A0BDC43A798FC7162</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A0C7A59ADCB40C1BE69059E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44E7E003482C4B2087EC1436</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4534102852FA490B810C03A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459D1B4B4D9846F8A1060907</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46D5F2503F4A456289200C69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46D7E27FA5C54233BFF04897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C3462D241D145B58AB16D03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D67FD1F399F455287723BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>515DABFB04C3466AA9259ACD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5804A9CD4B0B4487A149B692</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>582712B9F8A14E5C9E17760E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A7957B750514403952F6CE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A9C602D36B644498D31C56E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BA135C072B04C389B58FEAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E8B4D951F9445519C2D4085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6257FC9E0EBE423493C7D0EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66CD38C318F445B5A711E264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68790394AE9F499C98CD5566</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AB02B52AAF649A0ACF83BF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AB110C43FF74F8CA78C055C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D92691D11A44A18851D7040</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76E2C79E804747C6B938BC5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774B0D9AAED641AE8AE89841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78C966F1E6244974B6477069</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8035666C7DED42EBB76CBA62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82051AAF6E95401F876006F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8950CABDE2094BE086DB7466</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D4F03C2A00643D99FEDAA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DD6EF67131F4E09BEDA8316</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FF39689FD58451FA51FF045</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3457A1E464143BE8727707A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A87B91C12BB8492E929F6C9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9B02AB2BEC14B5BA00C8FA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B91252C574CD46B797C91440</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C08B7001E5474D6FA945C9D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C092012341D64B47B00B138B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2DAE862FC35493F8220C236</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE01A63C6D414B63980795A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D984F9BDE93C427E993B6818</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAE4A930228C4C279DB19669</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB0651F39AD542E6B44011EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0E594E284C148F5B2ADAA6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5757328A69B431D9714614F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7B8EED8E8DD4162BEC30C5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF9012650F654D6A87A65E21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2AF6B431D9C49819C8E0000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9C8EEA1DEB240C5AF8697F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF6ADD450C6D4D898E20C5D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF70ADE3D4834F3297D2B15D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFCD746973174F2E921D8F55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
